In [1]:
import pandas as pd
from classes.CircularLinkedList import CircularLinkedList
from classes.Node import Node

In [2]:
df = pd.read_csv('./data/data.txt')

df

               Neighborhood  School  Gym  Bar  Shop  Park
0            Adela de Char.       0    0    0     1     0
1    Adelita de Char Etp. 2       1    0    1     1     0
2                 Altamira.       1    1    0     1     1
3          Altos de Riomar.       1    1    1     0     1
4          Altos del Limón.       0    0    1     0     1
..                      ...     ...  ...  ...   ...   ...
184                Tayrona.       1    1    1     1     1
185       Universal I y II.       0    1    0     0     1
186           Villa Blanca.       0    1    1     1     1
187       Villa del Carmen.       0    1    1     1     1
188            Zona Franca.       0    1    1     0     1

[189 rows x 6 columns]

In [27]:
# Para rectificar que los barrios resultantes despues del filtro esten correctos
df.loc[(df['School']==1) & (df['Gym']==1)]

                              Neighborhood  School  Gym  Bar  Shop  Park
2                                Altamira.       1    1    0     1     1
3                         Altos de Riomar.       1    1    1     0     1
10                           El Limoncito.       1    1    0     1     0
13                          La Castellana.       1    1    0     1     0
17                                Miramar.       1    1    1     1     1
24                                  Siape.       1    1    1     0     0
25                                Solaire.       1    1    0     0     0
26   Urbanización Eduardo santos la playa.       1    1    0     1     0
42                          Ciudad Jardín.       1    1    0     0     0
55                          La Concepción.       1    1    0     1     0
56                              La Cumbre.       1    1    0     1     1
58                                La Loma.       1    1    0     1     1
60                           Las Delicias.       1    1    1     0     1
62                              Los Alpes.       1    1    0     0     1
66                                 Modelo.       1    1    0     1     0
69                                Paraíso.       1    1    1     0     1
73                          Villa Country.       1    1    0     0     0
75                             Villanueva.       1    1    0     1     1
76                             7 de Abril.       1    1    1     1     0
87                           Las Américas.       1    1    0     1     1
89                          Las Gardenias.       1    1    1     1     1
94                               San Luis.       1    1    1     1     1
97                       Villa San Carlos.       1    1    0     1     1
99                     Villa San Pedro II.       1    1    0     1     0
100                         Villa Sevilla.       1    1    0     1     0
104                            California.       1    1    0     0     0
106                         Carlos Meisel.       1    1    1     0     0
117                              El Golfo.       1    1    0     0     1
126                              La Ceiba.       1    1    1     1     0
127                          La Esmeralda.       1    1    0     0     0
129                             La Gloria.       1    1    0     0     1
130                           La Libertad.       1    1    0     1     0
131                              La Manga.       1    1    0     1     1
132                                La Paz.       1    1    0     1     1
139                          Las Terrazas.       1    1    0     1     1
144                         Los Olivos II.       1    1    0     1     1
151                             San Isidro       1    1    1     0     0
159                              El Limón.       1    1    1     0     0
162                           La Alboraya.       1    1    0     0     1
163                            La Chinita.       1    1    0     0     1
166                              La Unión.       1    1    1     0     1
167                           La Victoria.       1    1    0     1     0
172                          Los Laureles.       1    1    0     1     1
184                               Tayrona.       1    1    1     1     1

In [4]:
num_neig = len(list(df['Neighborhood']))

In [5]:
list_prub = [list(df.iloc[i][1:]) for i in range(num_neig)]

In [6]:
# Forma 1
list_nodes = []

for i in range(num_neig):
    nodo = Node(data=df.iloc[i][0], info=list_prub[i])
    list_nodes.append(nodo)

In [7]:
# Forma 2
list_nodes1 = [Node(data=df.iloc[i][0], info=list_prub[i]) for i in range(num_neig)]
list_nodes1[0]

Adela de Char.: [0, 0, 0, 1, 0]

In [8]:
def Menu() -> None: 
    print('\t[+] Available places [+]\n')
    print('1) School')
    print('2) Gym')
    print('3) Bar')
    print('4) Shop')
    print('5) Park')
    print('[PRESS 0 TO CLOSE MENU]')

def Conditions(dec: int, listDec: list, availablePlaces: list) -> None:

    if dec == 1:
        if availablePlaces[0] in listDec:
            print('This location is already chosen')
        else:    
            listDec.append(availablePlaces[0])
    if dec == 2:
        if availablePlaces[1] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[1])
    if dec == 3:
        if availablePlaces[2] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[2])
    if dec == 4:
        if availablePlaces[3] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[3])
    if dec == 5:
        if availablePlaces[4] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[4])
    if len(listDec) == 5:
        print('You\' chosen all the places.')

In [19]:
placesIn = list()
places = ['School', 'Gym', 'Bar', 'Shop', 'Park']

cont = input('Do you want to add places of your interest?\t [y: Yes] [n: No]')

if cont.lower() == 'y':
    Menu()

while cont.lower() == 'y':
    answer = int(input('Select your places of interest'))
    Conditions(answer, placesIn, places)
    if answer == 0:
        break
    if len(placesIn) == 5:
        break
    
    cont = input('Do you want to add a new area of your interest?\t [y: Yes] [n: No]')
    
print(placesIn)

	[+] Available places [+]

1) School
2) Gym
3) Bar
4) Shop
5) Park
[PRESS 0 TO CLOSE MENU]
['School', 'Gym']

In [20]:
class CreateList:
    def __init__(self, lista: CircularLinkedList, df, num_neig: int) -> None:
        self.n = num_neig
        list_info = [list(df.iloc[k][1:]) for k in range(self.n)]
        self.list_nodes = [Node(data=df.iloc[i][0], info=list_prub[i]) for i in range(self.n)]
        
        for k in range(len(self.list_nodes)):
            lista.addNode(self.list_nodes[k])

neighborhoodsList = CircularLinkedList()
lista = CreateList(neighborhoodsList, df, num_neig)

In [21]:
n_pref = neighborhoodsList.size
k=0

try:
    while True:
        searching = neighborhoodsList.ROOT.next
        
        if neighborhoodsList.ROOT.info_neighborhood[k] != 1:    
            neighborhoodsList.removeNode(neighborhoodsList.ROOT)
            searching = searching.next
            
        while (searching != neighborhoodsList.TAIL.next):
            if placesIn[k] == 'School':
                if searching.info_neighborhood[0] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
            if placesIn[k] == 'Gym':
                if searching.info_neighborhood[1] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
            if placesIn[k] == 'Bar':
                if searching.info_neighborhood[2] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
            if placesIn[k] == 'Shop':
                if searching.info_neighborhood[3] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
            if placesIn[k] == 'Park':
                if searching.info_neighborhood[4] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
    
            searching = searching.next
        k += 1
        if k == len(placesIn):
            break
        
except IndexError:
    print('Te pasaste')

In [22]:
neighborhoodsList

Altamira. -> Altos de Riomar. -> El Limoncito. -> La Castellana. -> Siape. -> Solaire. -> Urbanización Eduardo santos la playa. -> Ciudad Jardín. -> La Concepción. -> La Cumbre. -> La Loma. -> Las Delicias. -> Los Alpes. -> Miramar. -> Modelo. -> Paraíso. -> Villa Country. -> Villanueva. -> 7 de Abril. -> Las Américas. -> Las Gardenias. -> San Luis. -> Villa San Carlos. -> Villa San Pedro II. -> Villa Sevilla. -> California. -> Carlos Meisel. -> El Golfo. -> La Ceiba. -> La Esmeralda. -> La Gloria. -> La Libertad. -> La Manga. -> La Paz. -> La Sierra. -> Las Terrazas. -> Los Olivos II. -> San Isidro -> El Limón. -> La Alboraya. -> La Chinita. -> La Unión. -> La Victoria. -> Los Laureles. -> Tayrona. -> Altamira.

In [23]:
neighborhoodsList.size

45

In [26]:
neighborhoodsList.ROOT.next.next.next.next.next.next.next.next.next.next.next.next

Los Alpes.: [1, 1, 0, 0, 1]