In [1]:
import pandas as pd
from classes.CircularLinkedList import CircularLinkedList
from classes.Node import Node

In [2]:
df = pd.read_csv('data.txt')

df

               Neighborhood  School  Gym  Bar  Shop  Park
0            Adela de Char.       0    0    0     1     0
1    Adelita de Char Etp. 2       1    0    1     1     0
2                 Altamira.       1    1    0     1     1
3          Altos de Riomar.       1    1    1     0     1
4          Altos del Limón.       0    0    1     0     1
..                      ...     ...  ...  ...   ...   ...
184                Tayrona.       1    1    1     1     1
185       Universal I y II.       0    1    0     0     1
186           Villa Blanca.       0    1    1     1     1
187       Villa del Carmen.       0    1    1     1     1
188            Zona Franca.       0    1    1     0     1

[189 rows x 6 columns]

In [4]:
num_neig = len(list(df['Neighborhood']))
num_neig

189

In [5]:
list_prub = [list(df.iloc[i][1:]) for i in range(num_neig)]

list_prub[1]

[1, 0, 1, 1, 0]

In [6]:
# Forma 1
list_nodes = []

for i in range(num_neig):
    nodo = Node(data=df.iloc[i][0], info=list_prub[i])
    list_nodes.append(nodo)

In [7]:
# Forma 2
list_nodes1 = [Node(data=df.iloc[i][0], info=list_prub[i]) for i in range(num_neig)]

In [8]:
def Menu() -> None: 
    print('\t[+] Available places [+]\n')
    print('1) School')
    print('2) Gym')
    print('3) Bar')
    print('4) Shop')
    print('5) Park')
    print('[PRESS 0 TO CLOSE MENU]')

def Conditions(dec: int, listDec: list, availablePlaces: list) -> None:

    if dec == 1:
        if availablePlaces[0] in listDec:
            print('This location is already chosen')
        else:    
            listDec.append(availablePlaces[0])
    if dec == 2:
        if availablePlaces[1] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[1])
        
    if dec == 3:
        if availablePlaces[2] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[2])
    if dec == 4:
        if availablePlaces[3] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[3])
    if dec == 5:
        if availablePlaces[4] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[4])
    if len(listDec) == 5:
        print('You\' chosen all the places.')

In [9]:
placesIn = list()
places = ['School', 'Gym', 'Bar', 'Shop', 'Park']

cont = input('Do you want to add places of your interest?\t [y: Yes] [n: No]')

if cont.lower() == 'y':
    Menu()

while cont.lower() == 'y':
    answer = int(input('Select your places of interest'))
    Conditions(answer, placesIn, places)
    if answer == 0:
        break
    if len(placesIn) == 5:
        break
    
    cont = input('Do you want to add a new area of your interest?\t [y: Yes] [n: No]')
print(placesIn)

	[+] Available places [+]

1) School
2) Gym
3) Bar
4) Shop
5) Park
[PRESS 0 TO CLOSE MENU]
['School', 'Shop']

In [18]:
class CreateList:
    def __init__(self, lista: CircularLinkedList, df, num_neig: int) -> None:
        self.n = num_neig
        list_info = [list(df.iloc[k][1:]) for k in range(self.n)]
        self.list_nodes = [Node(data=df.iloc[i][0], info=list_prub[i]) for i in range(self.n)]
        
        for k in range(len(self.list_nodes)):
            lista.addNode(self.list_nodes[k])

neighborhoodsList = CircularLinkedList()
lista = CreateList(neighborhoodsList, df, num_neig)

In [20]:
print(neighborhoodsList.next())
print(neighborhoodsList.next())
print(neighborhoodsList.first()) # Retorna el primer nodo sin importar si ya me moví con .next()

Adelita de Char Etp. 2: [1, 0, 1, 1, 0]
Altamira.: [1, 1, 0, 1, 1]
Adela de Char.: [0, 0, 0, 1, 0]

In [22]:
lista_empty = []

currentNode = neighborhoodsList.first()
while len(lista_empty) < 10:
    break
    currentNode = neighborhoodsList.next()