In [1]:
import pandas as pd
from classes.CircularLinkedList import CircularLinkedList
from classes.Node import Node

In [2]:
df = pd.read_csv('./data/data.txt')

df

               Neighborhood  School  Gym  Bar  Shop  Park
0            Adela de Char.       0    0    0     1     0
1    Adelita de Char Etp. 2       1    0    1     1     0
2                 Altamira.       1    1    0     1     1
3          Altos de Riomar.       1    1    1     0     1
4          Altos del Limón.       0    0    1     0     1
..                      ...     ...  ...  ...   ...   ...
184                Tayrona.       1    1    1     1     1
185       Universal I y II.       0    1    0     0     1
186           Villa Blanca.       0    1    1     1     1
187       Villa del Carmen.       0    1    1     1     1
188            Zona Franca.       0    1    1     0     1

[189 rows x 6 columns]

In [3]:
# Para rectificar que los barrios resultantes despues del filtro esten correctos
df.loc[(df['School']==1) & (df['Gym']==1) & (df['Bar'] == 1)]

         Neighborhood  School  Gym  Bar  Shop  Park
3    Altos de Riomar.       1    1    1     0     1
17           Miramar.       1    1    1     1     1
24             Siape.       1    1    1     0     0
60      Las Delicias.       1    1    1     0     1
69           Paraíso.       1    1    1     0     1
76        7 de Abril.       1    1    1     1     0
89     Las Gardenias.       1    1    1     1     1
94          San Luis.       1    1    1     1     1
106    Carlos Meisel.       1    1    1     0     0
126         La Ceiba.       1    1    1     1     0
151        San Isidro       1    1    1     0     0
159         El Limón.       1    1    1     0     0
166         La Unión.       1    1    1     0     1
184          Tayrona.       1    1    1     1     1

In [4]:
num_neig = len(list(df['Neighborhood']))

In [5]:
list_prub = [list(df.iloc[i][1:]) for i in range(num_neig)]

In [6]:
# Forma 2
list_nodes1 = [Node(data=df.iloc[i][0], info=list_prub[i]) for i in range(num_neig)]
list_nodes1[0]

Adela de Char.: [0, 0, 0, 1, 0]

In [10]:
def Menu() -> None: 
    print('\t[+] Available places [+]\n')
    print('1) School')
    print('2) Gym')
    print('3) Bar')
    print('4) Shop')
    print('5) Park')
    print('[PRESS 0 TO CLOSE MENU]')

def Conditions(dec: int, listDec: list, availablePlaces: list) -> None:

    if dec == 1:
        if availablePlaces[0] in listDec:
            print('This location is already chosen')
        else:    
            listDec.append(availablePlaces[0])
    if dec == 2:
        if availablePlaces[1] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[1])
    if dec == 3:
        if availablePlaces[2] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[2])
    if dec == 4:
        if availablePlaces[3] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[3])
    if dec == 5:
        if availablePlaces[4] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[4])
    if dec < 1 or dec > 5:
        print('===========> This location does not exist  <===========')
    if len(listDec) == 5:
        print('You\' chosen all the places.')

In [11]:
placesIn = list()
places = ['School', 'Gym', 'Bar', 'Shop', 'Park']

cont = input('Do you want to add places of your interest?\t [y: Yes] [n: No]')

if cont.lower() == 'y':
    Menu()

while cont.lower() == 'y':
    answer = int(input('Select your places of interest'))
    Conditions(answer, placesIn, places)
    if answer == 0:
        break
    if len(placesIn) == 5:
        break
    
    cont = input('Do you want to add a new area of your interest?\t [y: Yes] [n: No]')
    
print(placesIn)

	[+] Available places [+]

1) School
2) Gym
3) Bar
4) Shop
5) Park
[PRESS 0 TO CLOSE MENU]
===========> This location does not exist  <===========
['School', 'Gym']

In [12]:
class CreateList:
    def __init__(self, lista: CircularLinkedList, df, num_neig: int) -> None:
        self.n = num_neig # Número total de barrios
        list_info = [list(df.iloc[k][1:]) for k in range(self.n)] # Aqui guardo toda la información de cada barrio
        self.list_nodes = [Node(data=df.iloc[i][0], info=list_prub[i]) for i in range(self.n)] # Aca guardamos todos los barrios en forma de nodos
        
        for k in range(len(self.list_nodes)):
            lista.addNode(self.list_nodes[k]) # Agrego a la lista cada nodo

neighborhoodsList = CircularLinkedList()
lista = CreateList(neighborhoodsList, df, num_neig)

In [13]:
n_pref = neighborhoodsList.size
k=0

try:
    while True:
        searching = neighborhoodsList.ROOT.next
        
        if neighborhoodsList.ROOT.info_neighborhood[k] != 1:    
            neighborhoodsList.removeNode(neighborhoodsList.ROOT)
            searching = searching.next
        
        while (searching != neighborhoodsList.TAIL.next):
            if placesIn[k] == 'School':
                if searching.info_neighborhood[0] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
            if placesIn[k] == 'Gym':
                if searching.info_neighborhood[1] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
            if placesIn[k] == 'Bar':
                if searching.info_neighborhood[2] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
            if placesIn[k] == 'Shop':
                if searching.info_neighborhood[3] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
            if placesIn[k] == 'Park':
                if searching.info_neighborhood[4] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
    
            searching = searching.next
        k += 1
        if k == len(placesIn):
            break
        
except IndexError:
    print('Te pasaste')

In [14]:
num_b = neighborhoodsList.size

while num_b > 10:
    neighborhoodsList.removeNode(neighborhoodsList.ROOT)
    num_b -= 1

In [15]:
# El margen de error es Miramar pero ya no nos importa
print('[+] Los siguientes barrios contienen todos los requerimientos ingresados por usted')
neighborhoodsList

[+] Los siguientes barrios contienen todos los requerimientos ingresados por usted

Las Terrazas. -> Los Olivos II. -> San Isidro -> El Limón. -> La Alboraya. -> La Chinita. -> La Unión. -> La Victoria. -> Los Laureles. -> Tayrona. -> Las Terrazas.