In [1]:
import pandas as pd
from classes.CircularLinkedList import CircularLinkedList
from classes.Node import Node

In [2]:
df = pd.read_csv('./data/data.txt')

df

               Neighborhood  School  Gym  Bar  Shop  Park
0            Adela de Char.       0    0    0     1     0
1    Adelita de Char Etp. 2       1    0    1     1     0
2                 Altamira.       1    1    0     1     1
3          Altos de Riomar.       1    1    1     0     1
4          Altos del Limón.       0    0    1     0     1
..                      ...     ...  ...  ...   ...   ...
184                Tayrona.       1    1    1     1     1
185       Universal I y II.       0    1    0     0     1
186           Villa Blanca.       0    1    1     1     1
187       Villa del Carmen.       0    1    1     1     1
188            Zona Franca.       0    1    1     0     1

[189 rows x 6 columns]

In [3]:
df.loc[(df['School']==1) & (df['Gym']==1) & (df['Bar']==1)]

         Neighborhood  School  Gym  Bar  Shop  Park
3    Altos de Riomar.       1    1    1     0     1
17           Miramar.       1    1    1     1     1
24             Siape.       1    1    1     0     0
60      Las Delicias.       1    1    1     0     1
69           Paraíso.       1    1    1     0     1
76        7 de Abril.       1    1    1     1     0
89     Las Gardenias.       1    1    1     1     1
94          San Luis.       1    1    1     1     1
106    Carlos Meisel.       1    1    1     0     0
126         La Ceiba.       1    1    1     1     0
151        San Isidro       1    1    1     0     0
159         El Limón.       1    1    1     0     0
166         La Unión.       1    1    1     0     1
184          Tayrona.       1    1    1     1     1

In [4]:
num_neig = len(list(df['Neighborhood']))
num_neig

189

In [5]:
list_prub = [list(df.iloc[i][1:]) for i in range(num_neig)]

list_prub[0]

[0, 0, 0, 1, 0]

In [6]:
# Forma 1
list_nodes = []

for i in range(num_neig):
    nodo = Node(data=df.iloc[i][0], info=list_prub[i])
    list_nodes.append(nodo)

In [7]:
# Forma 2
list_nodes1 = [Node(data=df.iloc[i][0], info=list_prub[i]) for i in range(num_neig)]
list_nodes1[0]

Adela de Char.: [0, 0, 0, 1, 0]

In [8]:
def Menu() -> None: 
    print('\t[+] Available places [+]\n')
    print('1) School')
    print('2) Gym')
    print('3) Bar')
    print('4) Shop')
    print('5) Park')
    print('[PRESS 0 TO CLOSE MENU]')

def Conditions(dec: int, listDec: list, availablePlaces: list) -> None:

    if dec == 1:
        if availablePlaces[0] in listDec:
            print('This location is already chosen')
        else:    
            listDec.append(availablePlaces[0])
    if dec == 2:
        if availablePlaces[1] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[1])
        
    if dec == 3:
        if availablePlaces[2] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[2])
    if dec == 4:
        if availablePlaces[3] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[3])
    if dec == 5:
        if availablePlaces[4] in listDec:
            print('This location is already chosen')
        else:
            listDec.append(availablePlaces[4])
    if len(listDec) == 5:
        print('You\' chosen all the places.')

In [9]:
placesIn = list()
places = ['School', 'Gym', 'Bar', 'Shop', 'Park']

cont = input('Do you want to add places of your interest?\t [y: Yes] [n: No]')

if cont.lower() == 'y':
    Menu()

while cont.lower() == 'y':
    answer = int(input('Select your places of interest'))
    Conditions(answer, placesIn, places)
    if answer == 0:
        break
    if len(placesIn) == 5:
        break
    
    cont = input('Do you want to add a new area of your interest?\t [y: Yes] [n: No]')
    
print(placesIn)

	[+] Available places [+]

1) School
2) Gym
3) Bar
4) Shop
5) Park
[PRESS 0 TO CLOSE MENU]
['School', 'Gym', 'Bar']

In [10]:
class CreateList:
    def __init__(self, lista: CircularLinkedList, df, num_neig: int) -> None:
        self.n = num_neig
        list_info = [list(df.iloc[k][1:]) for k in range(self.n)]
        self.list_nodes = [Node(data=df.iloc[i][0], info=list_prub[i]) for i in range(self.n)]
        
        for k in range(len(self.list_nodes)):
            lista.addNode(self.list_nodes[k])

neighborhoodsList = CircularLinkedList()
lista = CreateList(neighborhoodsList, df, num_neig)

In [11]:
neighborhoodsList

Adela de Char. -> Adelita de Char Etp. 2 -> Altamira. -> Altos de Riomar. -> Altos del Limón. -> Altos del Prado. -> Andalucía. -> Buenavista. -> El Castillo I. -> El Golf. -> El Limoncito. -> El Poblado. -> Eduardo Santos. -> La Castellana. -> La Floresta. -> Las Flores. -> Las Tres Avemarías. -> Miramar. -> Paraíso. -> Riomar. -> San Marino. -> San Salvador. -> San Vicente. -> Santa Mónica. -> Siape. -> Solaire. -> Urbanización Eduardo santos la playa. -> Villa Campestre. -> Villa Carolina. -> Villa del Este. -> Villa Santos. -> Villamar. -> Villas del Puerto. -> América. -> Barlovento. -> Barranquillita. -> Barrio Abajo. -> Bellavista. -> Betania. -> Boston. -> Campo Alegre. -> Centro. -> Ciudad Jardín. -> Colombia. -> El Boliche. -> El Castillo. -> El Porvenir. -> El Prado. -> El Recreo. -> El Rosario. -> El Tabor. -> Granadillo. -> Zona Industrial Vía 40. -> La Bendición de Dios. -> La Campiña. -> La Concepción. -> La Cumbre. -> La Felicidad. -> La Loma. -> Las Colinas. -> Las Delicias. -> Las Mercedes. -> Los Alpes. -> Los Jobos. -> Los Nogales. -> Miramar. -> Modelo. -> Montecristo. -> Nuevo Horizonte. -> Paraíso. -> Parque Rosado. -> San Francisco. -> Santa Ana. -> Villa Country. -> Villa Tarel. -> Villanueva. -> 7 de Abril. -> 20 de Julio. -> Buenos Aires. -> Carrizal. -> Cevillar. -> Ciudadela 20 de Julio. -> El Santuario. -> Kennedy. -> La Sierra. -> La Sierrita. -> La Victoria. -> Las Américas. -> Las Cayenas. -> Las Gardenias. -> Las Granjas. -> Los Continentes. -> Los Girasoles. -> San José. -> San Luis. -> Santa María. -> Santo Domingo de Guzmán. -> Villa San Carlos. -> Villa San Pedro I. -> Villa San Pedro II. -> Villa Sevilla. -> 7 de Agosto. -> Bernando Hoyos -> Buena Esperanza. -> California. -> Caribe Verde. -> Carlos Meisel. -> Cevillar. -> Chiquinquirá. -> Ciudad Modesto. -> Colina Campestre. -> Cordialidad. -> Corrigimiento Juan Mina. -> Cuchilla de Villate. -> El Bosque. -> El Carmen. -> El Edén 2000. -> El Golfo. -> El Pueblo. -> El Recreo. -> El Romance. -> El Rubí. -> El Silencio. -> El Valle. -> Evaristo Sourdis. -> Kalamary. -> La Ceiba. -> La Esmeralda. -> La Florida. -> La Gloria. -> La Libertad. -> La Manga. -> La Paz. -> La Pradera. -> La Sierra. -> Las Colinas. -> Las Estrellas. -> Las Malvinas. -> Las Mercedes Sur. -> Las Terrazas. -> Lipaya. -> Loma Fresca. -> Los Andes. -> Los Olivos I. -> Los Olivos II. -> Los Pinos. -> Los Rosales. -> Lucero -> Mequejo. -> Olaya -> San Felipe -> San Isidro -> El Por Fin -> Alfonso López -> Atlántico. -> Bella Arena. -> Boyacá. -> Chiquinquirá. -> El Campito. -> El Limón. -> El Milagro. -> José Antonio Galán. -> La Alboraya. -> La Chinita. -> La Luz. -> La Magdalena. -> La Unión. -> La Victoria. -> Las Dunas. -> Las Nieves. -> Las Palmas. -> Las Palmeras. -> Los Laureles. -> Los Trupillos. -> Moderno. -> Montes. -> Pasadena. -> Primero de Mayo. -> Rebolo. -> San José. -> San Nicolás. -> San Roque. -> Santa Helena. -> Simón Bolívar. -> Tayrona. -> Universal I y II. -> Villa Blanca. -> Villa del Carmen. -> Zona Franca. -> Adela de Char.

In [12]:
neighborhoodsList.TAIL.next

Adela de Char.: [0, 0, 0, 1, 0]

In [13]:
neighborhoodsList.size

189

In [25]:
n_pref = neighborhoodsList.size

k=0

try:
    searching = neighborhoodsList.ROOT.next


    while True:
        searching = neighborhoodsList.ROOT.next

        if neighborhoodsList.ROOT.info_neighborhood[k] != 1:    
            neighborhoodsList.removeNode(neighborhoodsList.ROOT)
            
        while (searching != neighborhoodsList.TAIL.next):
            if placesIn[k] == 'School':
                if searching.info_neighborhood[0] != 1 or searching.info_neighborhood[:] == 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
            if placesIn[k] == 'Gym':
                if searching.info_neighborhood[1] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
            if placesIn[k] == 'Bar':
                if searching.info_neighborhood[2] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
            if placesIn[k] == 'Shop':
                if searching.info_neighborhood[3] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
            if placesIn[k] == 'Park':
                if searching.info_neighborhood[4] != 1:
                    temp = searching
                    neighborhoodsList.removeNode(temp)
            
            print(neighborhoodsList.TAIL)
            searching = searching.next
        k += 1
        if k == len(placesIn):
            break

except IndexError:
    print('Te pasaste')

Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]
Zona Franca.: [0, 1, 1, 0, 1]

In [23]:
neighborhoodsList

Altos de Riomar. -> Siape. -> Las Delicias. -> Paraíso. -> 7 de Abril. -> Las Gardenias. -> San Luis. -> Carlos Meisel. -> La Ceiba. -> San Isidro -> El Limón. -> La Unión. -> Tayrona. -> Altos de Riomar.

SyntaxError: invalid syntax (2752349210.py, line 1)